body {
    font-family: Tahoma, sans-serif;
    font-size: 10px;
    color: #050505;
    margin-left: 0;
}

.prvi {
    background-color: #dcd8d8;
    border: 4px solid #535353;
    padding: 20px;
    height: 225px;
    width: 200px;
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 10px;
    text-align: justify;
}



.drugi {

    background-color: #dcd8d8;
    border:  4px dashed #535353;
    height: 120px;
    width: 400px; 
    text-align: justify; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 1048px;
}

.treci {
    background-color: #dcd8d8;
    border-right-style: double;
    border-right-width: 5px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 140px;
    width: 320px;
    text-align: justify;
    margin-bottom: 30px;
    
    
}

.cetvrti {
    background-color: #dcd8d8;
    border-left: none;
    border-right: none;
    border-bottom: dotted;
    border-bottom-width: 3px;
    border-top: dashed;
    border-top-width: 3px;
    border-top-color: #a2a0a0;
    height: 40px;
    width: 1200px;
    margin-left: 150px;
    text-align: justify;
    padding: 4px;

    
    
    
}



